:root {
  background-color: #212121;
  color: #dddddd;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: 'Noto Serif SC', serif;
}

#root {
  width: 100vw;
}

input {
  font-family: inherit;
  letter-spacing: 0.08em;
}